@model ViewModelBase

@{
    ViewData["Title"] = "MSBLOC";
    ViewData["IsHome"] = true;
}

<div class="index-template">
    <h1 id="home">MSBuild Log Octokit Checker</h1>
    <p class="lead">Integrate your build logs with GitHub</p>
    <p>
        MSBuild Log Octokit Checker (MSBLOC) is a GitHub App that uses MSBuild Binary log files to add
        more content to pull requests. Integrate it with the build process of any repository that
        uses MSBuild, and it will identify build warnings and errors in Pull Requests that you
        open like this:
    </p>
    <div class="row justify-content-center">
        <div class="col-10">
            <img style="width: 100%;" src="~/images/testconsole1-error-pr-changes.png"/>
            <p><small>Pull request diffs can show inline compiler errors and warnings.</small></p>
        </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 1em">
        <div class="col-10">
            <img style="width: 100%;" src="~/images/testconsole1-error-pr-check-runs.png" />
            <p><small>Check Run page with build details.</small></p>
        </div>
    </div>
</div>
