[submodule "private"]
	path = private
	url = git@github.com:JustAProgrammer/MSBuildLogOctokitCheckerPrivate.git
[submodule "octokit.net"]
	path = octokit.net
	url = https://github.com/justaprogrammer/octokit.net.git
