[submodule "private"]
	path = private
	url = https://github.com/StanleyGoldman/MSBuildLogOctokitCheckerPrivate.git
[submodule "octokit.net"]
	path = octokit.net
	url = https://github.com/octokit/octokit.net.git
