[submodule "octokit.net"]
	path = submodules/octokit.net
	url = https://github.com/octokit/octokit.net.git
[submodule "private"]
	path = submodules/private
	url = https://github.com/StanleyGoldman/MSBuildLogOctokitCheckerPrivate.git