@model ViewModelBase

@{
    ViewData["Title"] = "BuildCrossCheck";
    ViewData["IsHome"] = true;
}

<div class="index-template">
    <h1 id="home">Build Cross Check</h1>
    <p class="lead">Integrate your build server with GitHub</p>
</div>
