@using MSBLOC.Core.Model
@using AccessToken = MSBLOC.Infrastructure.Models.AccessToken
@{
    ViewData["Title"] = "Repositories - MSBLOC";
    ViewData["IsListRepositories"] = true;

    var tokenLookup = ViewBag.TokenLookup as ILookup<long, AccessToken>;
    var repositories = ViewBag.Repositories as IEnumerable<UserRepository>;
}
<div class="row">
    <div class="col-md-12">

        <h3>Repositories associated with current User</h3>
        <p>This page displays all the GitHub repositories associated the the current User.</p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Repository
                    </th>
                    <th>
                        Secret
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var repo in repositories)
                {
                    <tr>
                        <td><a href="@repo.Url" target="_blank">@repo.Name</a></td>
                        <td>
                            <div>
                                <a target="_blank" href="@Url.Action("CreateToken", "Account", new
                                                         {
                                                             gitHubRepositoryId = repo.Id
                                                         })">Create Token</a>
                            </div>
                            <div>
                                @if (tokenLookup.Contains(repo.Id) && tokenLookup[repo.Id].Any())
                                {
                                    <ul>
                                        @foreach (var token in tokenLookup[repo.Id])
                                        {
                                            <li>@Html.ActionLink(token.Id.ToString(), "RevokeToken", "Account", new
                                                {
                                                    tokenId = token.Id
                                                })</li>
                                        }
                                    </ul>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>