<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="readme.md" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="MdHandler" 
           path="*.md" 
           verb="*" type="System.Web.Handlers.MarkdownHandler" 
           resourceType="Unspecified" 
           requireAccess="Read" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>
